.App {
  // text-align: center;
}

.app-logo {
  height: 2rem;
  margin:0.4rem;
  float: left;
}

.app-header,
.app-header-default {
  background-color: #eee;
  height: 3rem;
  line-height: 3rem;
  color: white;
  border-bottom: 4px solid #124b92;
  overflow: hidden;
}

.app-header-current {
  border-color: #124b92;
}

.app-header-alumni {
  border-color: #f60;
}

.app-header-applied {
  border-color: #f55;
}

.app-header-advisor {
  border-color: #fc0;
}

.app-intro {
  font-size: large;
}

.main-nav {
  float: right;
}

.main-nav a {
  display: inline-block;
  padding: 0 1rem;
  font-size: 1rem;
  line-height: 3rem;
  color: #124b92;
  text-decoration: none;
}

.main-nav a:hover,
.main-nav a:visited:hover {
  color: #900;
}

/* utilities styles */
.left {
  float: left;
}

.right {
  float: right;
}

/*
grid styles that you should remove if you include bootstrap
in this project */
.container-fluid {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
/* form elements */
button {
  border: 1px solid #eef;
  border-radius: 0.3rem;
  background-color: #def;
  color: #444;
  padding: 0.5em;
  font-size: 0.8em;
  font-family: 'Exo 2', sans-serif;
}

button:hover {
  cursor: pointer;
  color: #68A;
  background-color: #ddefff;
}

/* my grid */
.row {
  display: flex;
}
.half {
  width: 50%;
}
